.title-pord{
    color:var(--roxo);
    text-align: center;
    margin: 30px;
    font-size: 25px;

}

#descricao, #saldo, #valor{
    border: 2px solid white;
    background-color: transparent;
    border-radius: 18px;
    height: 25px;
    margin-left: 170px;
    margin-top: 5px;
}

.nome-cad{
    margin-left: 185px;
    color:white;
}

#descricao[type="text"], #saldo, #valor{
    color: white;
}

#btn-pro{
    background-color:  var(--roxo);
    border: none;
    width: 400px;
    height: 25px;
    font-size: 17px;
    color: white;
    border-radius: 18px;
    margin-left: 400px;
    margin-top: 55px;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

h3{
    text-align: center;
    font-size: 25px;
    color:  var(--roxo);
    margin-top: 50px;
}



#lista{
    background-color:var(--card);
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
    width: 95%;
    margin-left: 1.5%;
    box-shadow:var(--box-shadow);
    color: white;
}

.hr-produto{
      background-color: var(--roxo);
    height: 2px;
    width: 100%;
    margin-top: 6px;
    box-shadow: var(--box-shadow);
}
